name: .NET Build, Test, and Living Documentation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Restore NuGet packages
        run: dotnet restore ./TrelloAutomation.sln

      - name: Build solution
        run: dotnet build ./TrelloAutomation.sln --configuration 'Debug'
        
      - name: Change permissions for selenium-manager
        run: chmod +x ./TrelloAutomation/bin/Debug/net7.0/selenium-manager/linux/selenium-manager
        
      - name: Run tests
        run: dotnet test ./TrelloAutomation.sln --configuration 'Debug'

      - name: Install LivingDoc CLI
        run: dotnet tool install --global SpecFlow.Plus.LivingDoc.CLI

      - name: Generate Living Documentation
        run: |
          livingdoc test-assembly ./TrelloAutomation/bin/Debug/net7.0/TrelloAutomation.dll --test-execution-json ./TrelloAutomation/bin/Debug/net7.0/TestExecution.json --output ./LivingDocumentation.html

      - name: Upload Living Documentation as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: LivingDocumentation
          path: ./LivingDocumentation.html
